In [1]:
# Importing all required libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Q1) Load the dataset into a pandas dataframe and display the first 5 lines of the dataset along with the column headings. Note that the text file does not have the headers, which means you will have to add them to the dataframe.

In [2]:
#Reading dataset from the data.txt file into pandas dataframe.
housing_df = pd.read_csv('data.txt',delimiter='\s+')
housing_df.columns = ['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV']
housing_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
1,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
2,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
3,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
4,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7

Q2) Split the dataset into training (70%) and testing set (30%). Normalize the data using standardization.

In [3]:
# Reading target variable and input variables into different data frames
X = housing_df.iloc[:,:-1].values
y = housing_df.iloc[:,-1].values

In [4]:
# Splitting X and y into train and test data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30,random_state=1)

In [5]:
# Checing X_train, X_test, y_train, y_test
pd.DataFrame(X_train)
pd.DataFrame(X_test)
pd.DataFrame(y_train)
pd.DataFrame(y_test)

        0
0    22.8
1    31.2
2    14.4
3    17.4
4    20.8
..    ...
147  19.1
148  21.4
149  17.3
150  43.1
151  15.6

[152 rows x 1 columns]

In [6]:
#Normalizing data using Standard scaler
from sklearn.preprocessing import StandardScaler
st_sc_X = StandardScaler()
X_train = st_sc_X.fit_transform(X_train)
X_test = st_sc_X.transform(X_test)

Q3) Model 1: Using scikit learn, build a Linear Regression model with all the variables.

In [7]:
from sklearn.linear_model import LinearRegression
lrObj = LinearRegression()
lrObj.fit(X_train,y_train)

LinearRegression()

Q4) What are the weight parameters (including the intercept) you get for Model 1.

In [8]:
print("Weights for different input variables are: ")
print(lrObj.coef_)

print()
print("Intercept is:")
print(lrObj.intercept_)

Weights for different input variables are:
[-0.87475313  1.65119298  0.16320752  0.83976231 -2.82242031  1.98885935
 -0.00819484 -3.76457001  2.97801011 -2.38451308 -1.75116199  0.35444245
 -4.15292395]

Intercept is:
22.39320113314451

Q5) Use Model 1 to make a prediction on the test set. Calculate mean squared error.

In [9]:
#Predicting on test dataset
y_pred = lrObj.predict(X_test)

print("Actual Values from test data")
print(y_test)

print("\nPredicted values of target variable")
print(y_pred)

MSE = np.square(np.subtract(y_test,y_pred)).mean()
print("\nMean Squared Error: "+str(MSE))

Actual Values from test data
[22.8 31.2 14.4 17.4 20.8 18.4 23.9 13.2 23.  22.  23.7 17.5 22.  22.
 21.6 27.9 13.9 37.6 42.3 17.8 17.8 14.6 16.2 24.6 19.4  8.3 18.9 17.2
 48.8 11.5 18.6 24.3 22.6 12.6 17.1 24.5 14.9 28.7 13.4 19.1 19.8 21.1
 44.8 13.3  5.   8.4 50.  21.8 50.  19.3 29.8 23.7 22.9 22.3 15.1 25.
 50.  19.4 20.2 29.  16.7 22.5 23.9 14.5 25.  39.8 48.3 23.9 28.6 25.
 22.2 10.5 21.9 12.7 19.8 19.1 14.6 20.1 27.  27.9 14.3 20.4 37.  13.4
 24.1 29.  19.7 23.  18.3 17.4  8.8 36.  13.6 27.1 10.9 21.7 22.4 25.
 50.  22.8 10.2 15.4 24.7 19.6 25.  20.3 11.7 50.  50.  18.6 20.7 22.6
 11.  28.2 30.1 31.1 18.7 18.2 26.6 43.5 22.6 14.9 25.3 19.9 28.5 21.2
 21.7 20.6 23.6 23.9 16.6 21.  20.6 14.1 24.8 28.4 15.6 12.7 36.2 10.4
 22.6 14.  20.4 23.3 37.3 20.5 23.1 19.1 21.4 17.3 43.1 15.6]

Predicted values of target variable
[28.28462326 28.46747019  8.61857398 17.90847    18.33305008 15.76308795
 25.52414714  9.19067917 29.43242231 27.4027452  26.96758001 15.83854232
 22.27875974 21.56479422 25.4312481  20.9169054  16.92283603 36.19028473
 36.83068061  7.825325   17.1866712   6.65668248 20.61181852 24.52383046
 26.99137051 11.46112523 24.36625238 14.2018283  38.24463135 14.24702564
 16.96399412 20.01111381 23.06102419 17.20836796 20.33855261 20.64474628
 17.01071147 24.97457315 17.23350679 19.46166164 21.02505201 20.59817322
 36.817815   16.28591414  6.29836611 14.9027928  39.5362182  21.61247194
 35.07359129 20.63628174 24.88814275 27.50220378 22.20156916 25.82705941
 17.05894852 22.01299244 33.17177678 23.32962136 17.56108857 31.78035551
 19.17976816 22.39397592 27.38223247 19.65872832 24.65661173 33.65653492
 35.44902393 27.81394582 27.58822136 25.38664867 19.14605222  6.68270935
 16.61529817 11.54401673 22.75971615 17.19504837 19.07200243 21.06449807
 32.74437878 33.70236583 14.18876151 20.52907589 30.28633811 13.26061021
 20.14819745 31.77843112 14.08573693 23.57470417 19.07761356 15.87849646
  4.59354586 34.81864705 13.09528408 18.13280721 15.79972168 20.16386752
 23.44323903 30.12099376 37.80171905 25.76291877 18.79720647 16.87006493
 24.51772919 21.65562089 28.13110482 22.88525273 17.34809774 35.16184266
 34.80939253 21.68638064 26.90987129 26.85075252 15.14496259 33.39142642
 33.76827234 32.46543575 21.72160315 18.97209521 27.54866692 37.88558532
 23.74141274 15.88065283 25.28452579 18.09650647 35.13537405 21.23923139
 24.1464975  22.79542236 28.87024536 27.30412681 17.55171078 20.94735481
 27.80925234 19.62574354 26.70896634 31.59468768  9.88694228 13.95780606
 28.25476909 13.55925228 18.31495711 13.06448737 21.25799834 28.37620221
 35.8119752  19.72644243 24.88630884 17.15595664 24.99157517 16.40640249
 35.25693216 15.61600091]

Mean Squared Error: 23.979929149691568

In [10]:
len(X)

505

Q6) Model 2: Build a linear regression model with all the variables using Normal Equations method.

In [11]:
#Creating a copy of Input variables and predictor variable
X_ne = X
y_ne = y

y_ne = pd.DataFrame(y_ne)
X_ne = pd.DataFrame(X_ne)

#Adding a column with 1's for intercept
X0 = np.ones(505)
X_ne.insert(0,'X0',X0)

In [12]:
#Splitting dataset into training and test
X_ne_train, X_ne_test, y_ne_train, y_ne_test = train_test_split(X_ne, y_ne, test_size=0.30,random_state=0)

In [13]:
#Calculating weights as per equation w = (X.T dot X)inv dot X.T dot y
term1 = np.linalg.inv(X_ne_train.T.dot(X_ne_train))
term2 = np.dot(X_ne_train.T,y_ne_train)
w_ne = term1.dot(term2)

Q7) What are the weight parameters you get for Model 2.

In [14]:
#Printing weights for all input variables
print("Weights for different input variables are: ")
print(w_ne[1:])

print()
#Printing intercept
print("Intercept is:")
print(w_ne[0])

Weights for different input variables are:
[[-1.00187309e-01]
 [ 4.53084230e-02]
 [ 5.59255159e-02]
 [ 2.79972642e+00]
 [-1.89498465e+01]
 [ 3.75882434e+00]
 [ 1.78635670e-02]
 [-1.25606171e+00]
 [ 2.64216739e-01]
 [-9.80224513e-03]
 [-1.06234424e+00]
 [ 7.67567172e-03]
 [-5.77719397e-01]]

Intercept is:
[37.68227759]

Q8) Use Model 2 to make a prediction on the test set. Calculate mean squared error.

In [15]:
#Predicting the output variable using calculated weights
ye_ne_pred = np.dot(X_ne_test,w_ne)

In [16]:
#Calculating MSE for normal equations linear regression model
MSE_ne = np.square(np.subtract(y_ne_test,ye_ne_pred)).mean()
print("Mean Squared Error: "+str(MSE_ne))

Mean Squared Error: 0    21.381584
dtype: float64